Flask==1.1.2
marshmallow==3.10.0
matplotlib==3.3.4
nltk==3.5
numpy
pandas==1.2.2
pipenv==2020.11.15
regex==2020.9.27
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
seaborn==0.11.1
stop-words==2018.7.23
werkzeug>=0.15
python-dotenv